<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clark.utils"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.clark.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ico_app"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >

        <!-- 融云 RongCloud App Key 设置开始 -->

        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="z3v5yqkbv8v30" />

        <!-- 融云 RongCloud App Key 设置结束 -->

        <service
            android:name="com.avos.avoscloud.PushService"
            android:exported="true" />
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.clark.activity.GifMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.clark.activity.WebJsLocalInteractionActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.clark.activity.AnimActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.clark.activity.ScrollListViewQQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.clark.activity.ScrollMeiTuanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.clark.activity.PulldownViewSinaActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.clark.activity.StretchViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.clark.activity.UserInfoEditAcitivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.clark.activity.LongUrlToShortUrlActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.clark.activity.AutoScrollViewPageAvtivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.clark.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.clark.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name="com.clark.activity.QuickReturnHeaderActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.clark.activity.RippleActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.clark.activity.RainViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.clark.activity.BrokenViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.clark.activity.TabActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.clark.activity.ConversationActivity"
            android:label="@string/app_name" >

            <!-- 上面例子中您的会话 Activity -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.clark.utils"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" >

                    <!-- 不能修改 -->
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.clark.activity.ConversationListActivity"
            android:label="@string/app_name" >

            <!-- 上面例子中您的会话列表 Activity -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.clark.utils"
                    android:path="/conversationlist"
                    android:scheme="rong" >
                </data>
            </intent-filter>
        </activity>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>